.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 0px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.track-name {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.controls {
  display: flex;
  gap: 10px;
}

.control-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-btn:hover {
  background-color: #0056b3;
}

.control-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 20px;
}
